.alert-danger{
    margin: 0;
}

.error-container{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.last-name, .phone-number, .email, .comments{
    margin-top: 1rem;
}

.center-input-container{
    display: flex;
    justify-content: center;
}

.submit-button-holder{
    padding: 1.25rem 0;
}