<div class="body">
    <section>
        <div class="container">
            <div class="contact-info">
                <div>
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li hidden>
                            <span>
                                <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span>
                                567 Runs Branch Rd <br>
                                Newington, GA 30446
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="far fa-envelope"></i>
                            </span>
                            <span>
                                kirklandenterprisesunlimited@gmail.com
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                            <span>
                                912-536-7419
                            </span>
                        </li>
                    </ul>
                </div>
                <ul class="social-media-list">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="contact-form">
                <h2>Send a Message</h2>
                <div class="form-box">
                    <div class="input-box w50">
                        <input type="text" name="" required>
                        <span>First Name</span>
                    </div>
                    <div class="input-box w50">
                        <input type="text" name="" required>
                        <span>Last Name</span>
                    </div>
                    <div class="input-box w50">
                        <input type="text" name="" required>
                        <span>Email Address</span>
                    </div>
                    <div class="input-box w50">
                        <input type="text" name="" required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="input-box w100">
                        <textarea name="" id="" cols="30" rows="3" required></textarea>
                        <span>Write your message here...</span>
                    </div>
                    <div class="input-box w100">
                        <input type="submit" value="Send">
                    </div>
                </div>
                <!-- https://www.youtube.com/watch?v=kdx_TGjvsMg 4:58 -->
            </div>
        </div>
    </section>
</div>