.last-name, .phone-number, .email, .comments{
    margin-top: 20px;
}

.form-control{
    width: 50%
}

.center-input-container{
    display: flex;
    justify-content: center;
}

.submit-button-holder{
    padding: 20px 0;
}