<div class="row top">
    <div class="col-lg-4"></div>
    <div class="col-xs-12 col-md-12 col-lg-4">
        <div class="alert alert-danger" *ngIf="error"><span>{{ error }}</span></div>
        <div *ngIf="isLoading" class="loading-spinner">
            <messing-around-loading-spinner></messing-around-loading-spinner>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required
                    minlength="8">
            </div>
            <div>
                <div class="login-button-container">
                    <button title="Login / Sign Up Button" class="login-btn btn btn-primary" type="submit"
                        [disabled]="loginForm.invalid">{{ isLoginMode ? 'Login': 'Sign Up' }}</button>
                    <button title="Switch to Login / Sign Up Toggle Button" class="btn btn-primary switch-btn" type="button"
                        (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
                </div>
                <button type="button" class="btn btn-block btn-primary twitter-login-ctn" (click)="signInWithTwitter()">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                    Login with Twitter
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>