.body{
    background: #091921;
}

.entire-container{
    margin: 0;
}

// Category Container

.categories-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    min-height: 100vh;
    transform: translate(45%);

    p{
        color: #215e65;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 5px;
        font-family: controlFont;
        text-transform: uppercase;
    }

    label {
        position: relative;
        margin-bottom: 2rem;

        input {
            appearance: none; // important, because this is why the button select doesn't appear on the frontend
            -webkit-appearance: none;
            cursor: pointer;
        }

        input:checked ~ .far, input:checked ~ .fas{
            color: #00fff1;
            box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
                        inset 2px 2px 6px rgba(0, 0, 0, 1);
            text-shadow: 0 0 40px #00fff1,
                         0 0 2px #b7faf7;
            transition: 0.5s;
        }

        .far, .fas {
            position: relative;
            width: 40px;
            height: 40px;
            background: #091921;
            line-height: 40px;
            text-align: center;
            margin: 0 4px;
            color: #6f6f6f;
            font-size: 1.5rem;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
                        2px 2px 6px rgba(0, 0, 0, 0.8);
        }

        .far:hover, .fas:hover {
            box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
            2px 2px 6px rgba(0, 0, 0, 0.8),
            inset -2px -2px 10px rgba(255, 255, 255, 0.05),
            inset 2px 2px 10px rgba(0, 0, 0, 0.5);
        }
    }

    .last-label {
        margin-bottom: 0;
    }
}

.categories-container-slide {
    transform: translate(0%);
    transition: 1s;
}

// Website List Container

.website-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: visible;
    padding: 0;
}

.header-container{
    text-align: center;
    padding: 8em 0 0 0;
}

h1{
    font-family: controlFont;
    color: white;
    font-size: 100px;
}

.website-list-container ul{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.website-list-container ul li
{
    list-style: none;
    width: 80%;
}

.website-list-container ul li:before
{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translate(-15%, -50%);
    color: #fff;
    font-size: 3em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 20px;
    transition: 0.5s;
    white-space: nowrap;
    font-family: controlFont;
}

.website-list-container ul li:hover:before
{
    opacity: 0.15;
    letter-spacing: 0px;   
}

.website-list-container ul li a
{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding: 16px 15px;
    text-decoration: none;
    background: #2196f3;
    color: rgb(247, 203, 239);
    border-radius: 25px;
    box-shadow: 5px 5px #0b4a7e;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

.website-list-container ul:hover li a
{
    opacity: 0;
}

.website-list-container ul li a:hover
{
    transform: scale(1.4);
    z-index: 2;
    background: #ff3f81;
    box-shadow: 5px -5px #c71050;
    color: #addaff;
    opacity: 1;
}

.website-list-container ul li a:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
    transform: skewX(35deg);
    transition: 0s;
}

.website-list-container ul li a:hover:before
{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.2s;
}

.website-container{
    width: 100%;
    display: flex;
    justify-content: center;
}