<div class="body">
    <div class="header-container">
        <h1>THE WEBSITES</h1>
    </div>
    <div class="row entire-container">
        <div class="categories-container col-xl-6">
            Buttons
        </div>
        <div class="website-list-container col-xl-6">
            <ul>
                <li data-text="Poetry and Spoken Word">
                    <a href="https://www.instagram.com/keupoetrysw/" target="_blank">
                        Poetry and Spoken Word
                    </a>
                </li>
                <li data-text="Lala's Cupcakes">
                    <a href="https://www.instagram.com/lalascupcakesnj/" target="_blank">
                        Lala's Cupcakes
                    </a>
                </li>
                <li data-text="Save the Environment">
                    <a href="https://oceanservice.noaa.gov/ocean/earthday.html" target="_blank">
                        Save the Environment
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>