.edit-btn-container, .journal-id-container{
    display: flex;
    justify-content: center;
}

.input-style{
    width: 100%;
  }

.journal-text{
    margin-top: -240px;
}

.title-font{
    font-size: 30px;
}