.pacifico-font{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.satisfy-font{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.cookie-font{
    font-family: 'Cookie', cursive;
    font-size: 25px;
}

.great-vibes-font{
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

.sacramento-font{
    font-family: 'Sacramento', cursive;
    font-size: 25px;
}