.edit-btn-container, .journal-id-container{
    display: flex;
    justify-content: center;
}

.input-style{
    width: 100%;
  }

.journal-logo-text{
    z-index: 9;
    margin-top: -140px;
}

.title-font{
    font-size: 30px;
}