<div class="page-margin">
    <!-- Journal Banner Logo -->
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <!-- <div class="border-test"> -->
            <img alt="Scroll Banner" class="full-width" src={{scrollBannerUrl}}>
            <!-- </div> -->
            <div class="cell-center">
                <img alt="Journal Text" class="journal-text" src={{journalUrl}}>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <!-- Journal Table -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>Journal ID</span>
                </th>
                <th>
                    <span>Name</span>
                </th>
                <th>
                    <span>Entry</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let journal_entry of journal_entries; let indexOfelement = index;">
                <td>
                    {{indexOfelement + 1}}
                </td>
                <td>
                    {{journal_entry.title}}
                </td>
                <td>
                    {{journal_entry.entry}}
                </td>
            </tr>
        </tbody>
    </table>
 
    <!-- New Journal Entry Form -->
    <form class="new-journal-entry-form" [formGroup]="newJournalEntryForm" novalidate>
        <div class="form-group">
            <!-- Title  -->
            <mat-form-field class="input-style title-font" floatLabel="never">
                <input matInput placeholder="Enter title here" class="form-control" id="input-title" [(ngModel)]='journal_title' formControlName="title">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.title">
                <mat-error *ngIf="newJournalEntryForm.get('title').hasError(validation.type) && (newJournalEntryForm.get('title').dirty || newJournalEntryForm.get('title').touched)">{{validation.message}}
                </mat-error>
            </ng-container>
       
           <!-- Write here -->
            <mat-form-field class="input-style">
                <textarea matInput [(ngModel)]="journal_entry" placeholder="Write here what you want to say:" class="form-control" name="journalentryfield" id="journalentryfield" cols="30" rows="5" formControlName="entry"></textarea>
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.entry">
                <mat-error *ngIf="newJournalEntryForm.get('entry').hasError(validation.type) && (newJournalEntryForm.get('entry').dirty || newJournalEntryForm.get('entry').touched)">{{validation.message}}
                </mat-error>
            </ng-container>
        </div>

        <!-- Submit button -->
            <div class="right-side">
                <button class="btn btn-success" type="submit" [disabled]="newJournalEntryForm.invalid" (click)="onSubmit(newJournalEntryForm.value)">Submit</button> 
            </div>
       </form>

       <!-- Learning List Firebase Practice -->
       <ul id="list">

       </ul>

    <br>

    <!-- Pikachu: Under Construction -->
    <messing-around-under-construction></messing-around-under-construction>
</div>