<div class="page-margin">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <!-- <div class="border-test"> -->
            <img alt="Scroll Banner" class="full-width" src={{scrollBannerUrl}}>
            <!-- </div> -->
            <div class="cell-center">
                <img alt="Journal Text" class="journal-text" src={{journalUrl}}>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <!-- Journal Table -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>Journal ID</span>
                </th>
                <th>
                    <span>Name</span>
                </th>
                <th>
                    <span>Date Created</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jouranl_entry of journal_entries">
                <td>
                    {{jouranl_entry._JournalID}}
                </td>
                <td>
                    {{jouranl_entry.Name}}
                </td>
                <td>
                    {{dateformat(jouranl_entry.CreatedAt)}}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <div>
        <p>{{poem()}}</p>
    </div> -->
    <!-- <button (click)="createNewModal()">Create New Journal Entry</button> -->
 
    <form class="new-journal-entry-form" [formGroup]="newJournalEntryForm" novalidate (ngSubmit)="onSubmit(newJournalEntryForm.value)">
        <div class="form-group">
            <!-- Title  -->
            <mat-form-field class="input-style title-font" floatLabel="never">
                <input matInput placeholder="Enter title here" class="form-control" id="input-title" [(ngModel)]='journal_title' formControlName="title">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.title">
                <mat-error *ngIf="newJournalEntryForm.get('title').hasError(validation.type) && (newJournalEntryForm.get('title').dirty || newJournalEntryForm.get('title').touched)">{{validation.message}}
                </mat-error>
            </ng-container>
       
           <!-- Write here -->
            <mat-form-field class="input-style">
                <textarea matInput [(ngModel)]="journal_entry" placeholder="Write here what you want to say:" class="form-control" name="journalentryfield" id="journalentryfield" cols="30" rows="5" formControlName="entry"></textarea>
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.entry">
                <mat-error *ngIf="newJournalEntryForm.get('entry').hasError(validation.type) && (newJournalEntryForm.get('entry').dirty || newJournalEntryForm.get('entry').touched)">{{validation.message}}
                </mat-error>
            </ng-container>
        </div>

        <!-- Submit button -->
            <div class="right-side">
                <button class="btn btn-success" type="submit" [disabled]="newJournalEntryForm.invalid">Submit</button> 
            </div>
       </form>
    <br>
    <messing-around-under-construction></messing-around-under-construction>
</div>