<div class="page-margin">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <!-- <div class="border-test"> -->
            <img alt="Scroll Banner" class="full-width" src={{scrollBannerUrl}}>
            <!-- </div> -->
            <div class="cell-center">
                <img alt="Journal Text" class="journal-text" src={{journalUrl}}>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <!-- Write here -->
    <div>
        <p>Write here what you want to say:</p>
        <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
        <br>
        <div class="right-side">
            <button class="btn btn-success">Submit</button>
        </div>
    </div>

    <!-- Journal Table -->
    <table class="table">
        <thead>
                <tr>
                    <th>
                        <span>Journal ID</span>
                    </th>
                    <th>
                        <span>Name</span>
                    </th>
                    <th>
                        <span>Date Created</span>
                    </th>
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let jouranl_entry of journal_entries">
                <td>
                    {{jouranl_entry._JournalID}}
                </td>
                <td>
                    {{jouranl_entry.Name}}
                </td>
                <td>
                    {{jouranl_entry.CreatedAt}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<messing-around-under-construction></messing-around-under-construction>