<div class="page-margin center-text">
    
    <img src="assets/images/the-fruit-plug/fruit-plug-bomb-logo.jpg" alt="">

    <p>{{about()}}</p>

    <div class="image-height">
        <img class="whole-height" src="assets/images/the-fruit-plug/sade-at-event.jpg" alt="">
        <img class="whole-height" src="assets/images/the-fruit-plug/fresh-strawberries.jpg" alt="">
    </div>
    <br>
    <div class="image-height">
            <img class="whole-height" src="assets/images/the-fruit-plug/nice-layout.jpg" alt="">
    </div>
</div>