<div class="sade-page">
    <div class="center-text header">    
        <img alt="The Fruit Plug logo" class="full-width" src="assets/images/the-fruit-plug/fruit-plug-bomb-logo.jpg">
        <p>{{about()}}</p>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-lg-6 center-text">
                    <img class="full-width" src="assets/images/the-fruit-plug/sade-at-event.jpg" alt="">
            </div>
            <div class="col-lg-6 center-text">
                <img class="whole-height" src="assets/images/the-fruit-plug/nice-layout.jpg" alt="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 center-text">
                <div class="image-height">
                        <img class="full-width" src="assets/images/the-fruit-plug/fresh-strawberries.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>