<div class="page-margin">
    <div class="row header">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <img alt="Grant and Kirk's Smart House Logo" class="full-width" src={{smart_house_logo}}>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <hr>
    <div class="body">
        <div class="row">
            <div class="col-md-12">
                <h3>Research</h3>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=u1ymmRQ_p3k" target="_blank">Great product to protect the IoT</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=pGtnC1jKpMg">The purpose of having an ethical hacker test our products</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>