* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: controlFont;
}

.navigation {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 450px;
    height: 70px;
    background: #fff;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 90px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: 300;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transform: 0.5s;
}

.navigation ul li.active a .icon {
    color: #fff;
}