<div class="navigation">
  <ul>
    <li class="list">
      <a class="nav-link" [routerLink]="['/home']" sr-only="Home" (click)="getCurrentPage('home')">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span class="title">
          Home
        </span>
      </a>
    </li>
    <li class="list">
      <a class="nav-link" [routerLink]="['/bible']" sr-only="Bible">
        <span class="icon">
          <i class="fas fa-bible"></i>
        </span>
        <span class="title">
          Bible
        </span>
      </a>
    </li>
    <li class="list">
      <a class="nav-link" [routerLink]="['/contact']" sr-only="Contact Us">
        <span class="icon">
          <i class="fas fa-mobile"></i>
        </span>
        <span class="title">
          Contact
        </span>
      </a>
    </li>
    <li class="list">
      <a class="nav-link" [routerLink]="['/websites']" sr-only="Websites">
        <span class="icon">
          <i class="fas fa-globe"></i>
        </span>
        <span class="title">
          Websites
        </span>
      </a>
    </li>
    <li class="list">
      <a class="nav-link" [routerLink]="['/about']" sr-only="About">
        <span class="icon">
          <i class="fas fa-question-circle"></i>
        </span>
        <span class="title">
          About
        </span>
      </a>
    </li>
    <div class="indicator">
    </div>
  </ul>
</div>