<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark navbar-color lighten-1">

  <!-- Logo Home Button -->
  <a class="navbar-brand" (click)="logoNavigation()" title="Logo Home Button" tabindex="0">
    <span class="navbar-brand-text center-text">
      <img [src]="logoHomeButton" alt="Logo Home Button" class="logo-home-button">
    </span>
  </a>

  <!-- When the app is too small, this will be the expand/collapse button for the menu -->
  <button title="Toggle navigation" class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Main NavBar Links -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <div class="main-nav-btns"> <!-- *ngIf="authorized()" -->
      <ul class="navbar-nav mr-auto">
        
        <!-- Home Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" title="Home">
            Home 
            <span><i class="fas fa-home"></i></span>
          </a>
        </li>

        <!-- Bible Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bible']" title="Bible">
            Bible
            <span><i class="fas fa-bible"></i></span></a>
        </li>

        <!-- Social Media Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/social-media']" title="Social Media">
            Social Media
            <span><i class="fas fa-users"></i></span>
          </a>
        </li>

        <!-- Journal Link -->

        <li class="nav-item" hidden>
          <a class="nav-link" [routerLink]="['/journal']" title="Journal">
            Journal 
            <span><i class="fas fa-book-open"></i></span></a>
        </li>
        
        <!-- Passions Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/passions']" title="Passions">
            Passions 
            <span><i class="fas fa-heart"></i></span>
          </a>
        </li>

        <!-- About Link -->
        <li class="nav-item" hidden>
          <a class="nav-link" [routerLink]="['/about']" title="About">
            About
            <span><i class="fas fa-question-circle"></i></span>
          </a>
        </li>

        <!-- Contact Us Link -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" title="Contact Us">
            Contact
            <span><i class="fas fa-mobile"></i></span>
          </a>
        </li>

        <!-- Webistes Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" title="Webistes Dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Websites
          </a>

          <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
            <a [routerLink]="['/tishas-cupcakes']" class="dropdown-item">Tisha's Cupcakes</a>
            <a [routerLink]="['/recycling']" class="dropdown-item">Recycling</a>
            <a [routerLink]="['/smart-home']" class="dropdown-item" hidden>Grant and Kirk's Smart Home</a>
            <a [routerLink]="['/interior-design']" class="dropdown-item" hidden>EJ's Interior Designing</a>
            <a [routerLink]="['/the-fruit-plug']" class="dropdown-item" hidden>The Fruit Plug</a>
            <a [routerLink]="['/best-buddies']" class="dropdown-item" hidden>Best Buddies</a>
            <a [routerLink]="['/bunnie-beaute']" class="dropdown-item" hidden>Bunnie Beaute</a>
            <a [routerLink]="['/sandras-record-keeping']" class="dropdown-item" hidden>Sandra's Record Keeping</a>
            <a [routerLink]="['/screven-forward']" class="dropdown-item" hidden>Screven Forward</a>
            <a [routerLink]="['/heather-mary-kay']" class="dropdown-item" hidden>Heather's Mary Kay</a>
            <a [routerLink]="['/kirkland-loan']" class="dropdown-item" hidden>Kirkland Loan</a>
            <!-- <a [routerLink]="['/kevins-vision']" class="dropdown-item">Kevin's Vision</a> -->
          </div>
        </li>
      </ul>
    </div>

    <!-- About Link (Hidden when logged in. Shown when logged out) -->
    <div class="main-nav-btns just-about" *ngIf="!authorized()">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']"><span>About <i class="fas fa-question-circle"></i></span></a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav ml-auto nav-flex-icons">

      <!-- Pseudo Mail/Message Notification -->
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">1
          <i class="fas fa-envelope"></i>
        </a>
      </li>

      <!-- Avatar Dropdown -->
      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img [src]="kingImg" class="rounded-circle z-depth-0 profile-image" alt="avatar image">
        </a>

        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" [routerLink]="['/blog']">Blog</a>
          <a class="dropdown-item" [routerLink]="['/home']">Profile</a>
          <a class="dropdown-item" [routerLink]="['/journal']">Journal</a>
          <a class="dropdown-item" [routerLink]="['/passions']">Passions</a>
          <a class="dropdown-item" [routerLink]="['/settings']">Settings</a>
          <a class="dropdown-item" (click)="logout()">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>