* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 10000;
    transition: 0.2s
}

.navigation {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 70px;
    width: 70px;
    background: #fff;
    border-radius: 35px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation:hover {
    width: 350px;
    opacity: 1;
}

.navigation:before {
    
}

.navigation.active:before {
    content: '';
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 100001;
}

.navigation ul li a,
.navigation ul li .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #333;
    font-weight: 300;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transform: 0.5s;
    opacity: 0;
}

.navigation:hover ul li a .icon {
    opacity: 1;
}

.navigation ul li.active a .icon{
    color: #fff;
}

.navigation ul li a .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title {
    position: absolute;
    font-family: controlFont;
    top: 95px;
    left: 50%;
    transform: translate(-50%, 15%);
    background: #fff;
    width: auto;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.navigation ul li:hover a .title {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
}

.navigation ul li a .title:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    top: 0px;
    left: 48%;
    transform: rotate(45deg) translateX(-50%);
    border-radius: 2px;
}

.navigation ul .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

.navigation ul .indicator:before {
    content: '';
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, 50%);
    // background: #333;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}

.navigation:hover ul li:nth-child(1).active ~ .indicator:before {
    background: pink;
}

.navigation:hover ul li:nth-child(2).active ~ .indicator:before {
    background: green;
}

.navigation:hover ul li:nth-child(3).active ~ .indicator:before {
    background: #03a9f4;
}

.navigation:hover ul li:nth-child(4).active ~ .indicator:before {
    background: #091921;
}

.navigation:hover ul li:nth-child(5).active ~ .indicator:before {
    background: black;
}