<div class="page-margin">
    <div class="center-text header">
        <img alt="EJ's Interior Design Logo" src={{ejs_logo}}>
    </div>
    <hr>
    <div class="body">
        <div class="row">
            <!-- Left Side -->
            <div class="col-lg-6">
                <img alt="Contrasts" class="full-width" src={{contrasts_img}}>
                <img alt="Certified Architect" class="full-width top-padding-50px" src={{certified_img}} >
            </div>
            <!-- Right Right -->
            <div class="col-lg-6">
                <img alt="City Corner Sketch" class="full-width"
                    src={{city_corener_sketch_img}}>
                <div class="col-lg-12 top-padding-50px">
                    <p class="center-text">{{aboutEJ()}}</p>
                </div>
                <img alt="Chair Design" class="full-width top-padding-50px"
                    src={{chair_design}}>
            </div>
        </div>
        <!-- Info message -->
        <div class="row top-padding-50px">
            <div class="col-lg-12">
                <p class="center-text">
                    {{andHere()}}
                </p>
            </div>
        </div>
    </div>

</div>