<div class="page-margin">
    <div class="center-text header">
        <img src="https://fontmeme.com/permalink/191013/d1ef77ff2ea001812916feee00c10718.png" alt="janji-font"
            border="0">
    </div>
    <hr>
    <div class="body">
        <div class="row">
            <div class="col-lg-6">
                <img alt="City Corner Sketch" class="full-width" src="assets/images/interior-design/ejs-stuff/city-corner-sketch.jpg">
            </div>

            <div class="col-lg-6">
                <p>{{aboutEJ()}}</p>
                <img alt="Interstellar" src="assets/images/interior-design/interstellar.jpg" class="full-width">
            </div>
        </div>
    </div>

</div>