<div class="page-margin">
    <div class="center-text header">
        <img src="https://fontmeme.com/permalink/191013/d1ef77ff2ea001812916feee00c10718.png" alt="janji-font"
            border="0">
    </div>
    <hr>
    <div class="body">
        <div class="row">
            <!-- Left Side -->
            <div class="col-lg-6">
                <img alt="Contrasts" class="full-width" src="assets/images/interior-design/ejs-stuff/contrasts.jpg">
                <img src="assets/images/interior-design/ejs-stuff/certified-architect.JPG" alt="Certified Architect"
                    class="full-width top-padding-50px">
            </div>
            <!-- Right Right -->
            <div class="col-lg-6">
                <img alt="City Corner Sketch" src="assets/images/interior-design/ejs-stuff/city-corner-sketch.JPG"
                    class="full-width">
                <div class="col-lg-12 top-padding-50px">
                    <p class="center-text">{{aboutEJ()}}</p>
                </div>
                <img src="assets/images/interior-design/ejs-stuff/chair_design.jpg" class="full-width top-padding-50px"
                    alt="Chair Design">
            </div>
        </div>
        <!-- Info message -->
        <div class="row top-padding-50px">
            <div class="col-lg-12">
                <p class="center-text">{{andHere()}}</p>
            </div>
        </div>
    </div>

</div>