<div class="page-margin">
    <h1>INTO THE MIND AND WORLD OF STEPHEN MICHAEL KIRKLAND!</h1>

    <h3>i really am making my own websites now....tee-hee!</h3>

    {{statement()}}

    <br>
    <br>
    <div class="row">
        <div class="left-story">
            <span class="left-story">{{story()}}</span>
            <br><br>
            <h2>Hobbies</h2>
            <span class="left-story">{{hobbies()}}</span>
            <br><br>
            <h2>Favorite Video Games</h2>
            <ul>
                <li>
                    BioShock Collection
                </li>
                <li>The Outer Worlds</li>
                <li>Brawlhalla</li>
                <li>Call of Duty: Black Ops (this is why I bought a PS3 back in 2011)</li>
                <li>The Far Cry Series</li>
                <li>Minecraft</li>
            </ul>
            <br>
            <h2>Favorite Movies</h2>
            <ul>
                <li>Whitie Chicks</li>
                <li>Boomerang</li>
                <li>Norbit</li>
                <li>Inception</li>
                <li>Batman: The Dark Knight</li>
                <li>The Truman Show</li>
                <li>Moana</li>
                <li>Frozen 2</li>
                <li>Lion King</li>
            </ul>
            <br>
            <h2>Must Reads</h2>
            <ul>
                <li>The Bible (although I have yet to read it all the way through)</li>
                <li>The 7 Habits of Highly Effective People</li>
                <li>Think and Grow Rich</li>
            </ul>
        </div>

        <span class="right-img">
            <img [src]="kingUrl" alt="">
        </span>
    </div>

    <!-- Additional -->
    <!-- <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="grow">
                <button class="card">
                    <div class="card-img-top container">
                        <img class="card-icon" [src]="kingUrl" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">About Stephen</h4>
                        <p class="card-text">Stephen Michael Here</p>
                    </div>
                </button>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div> -->
    <!-- <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2 buttonHolder">
            <button class="card pic">
                <img class="card-icon" [src]="kingUrl" alt="">
            </button>
            <button class="card description">
                <div class="card-body">
                    <h4 class="card-title">About Stephen</h4>
                    <p class="card-text">Stephen Michael Here</p>
                </div>
            </button>
        </div>
        <div class="col-lg-5"></div>
    </div> -->

    <section id="section-feature">
        <div class="row">
            <ul>
                <li id="sf-innovation" class="col-md-3 col-sm-6 col-lg-3">
                    <div class="sf-wrap">
                        <div class="sf-mdl-left">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-rocket fa-5x">
                                </i>
                            </div>
                            <h3>Responsive Design</h3>
                        </div>

                        <div class="sf-mdl-left-full">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-rocket fa-5x"></i>
                            </div>
                            <h3><a href="">Responsive Design</a></h3>
                            <p>Holla Back, Stephen Michael Kirkland! Holla back at ya boy one time!!</p>
                        </div>

                        <div class="sf-mdl-right-full">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-rocket fa-5x"></i>
                            </div>
                            <h3><a href="">Responsive Design</a></h3>
                            <p>Holla Back, Stephen Michael Kirkland! Holla back at ya boy one time!!</p>
                        </div>
                    </div>
                </li>

                <li id="sf-community" class="col-md-3 col-sm-6 col-lg-3">
                    <div class="sf-wrap">
                        <div class="sf-mdl-left">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-camera-retro fa-5x"></i>
                            </div>
                            <h3>Loves Photography</h3>
                        </div>

                        <div class="sf-mdl-left-full">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-camera-retro fa-5x"></i>
                            </div>
                            <h3><a href="">Loves Photography</a></h3>
                            <p>Holla Back, Stephen Michael Kirkland! Holla back at ya boy one time!!</p>
                        </div>

                        <div class="sf-mdl-right-full">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-camera-retro fa-5x"></i>
                            </div>
                            <h3><a href="">Loves Photography</a></h3>
                            <p>Holla Back, Stephen Michael Kirkland! Holla back at ya boy one time!!</p>
                        </div>
                    </div>
                </li>

                <li id="sf-academy" class="col-md-3 col-sm-6 col-lg-3">
                    <div class="sf-wrap">
                        <div class="sf-mdl-left">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-cloud-upload-alt fa-5x"></i>
                            </div>
                            <h3>Retina Display</h3>
                        </div>

                        <div class="sf-mdl-left-full">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-cloud-upload-alt fa-5x"></i>
                            </div>
                            <h3><a href="">Retina Display</a></h3>
                            <p>Holla Back, Stephen Michael Kirkland! Holla back at ya boy one time!!</p>
                        </div>

                        <div class="sf-mdl-right-full">
                            <div class="sf-icon">
                                <i class="fa fa-fw fa-cloud-upload-alt fa-5x"></i>
                            </div>
                            <h3><a href="">Retina Display</a></h3>
                            <p>Holla Back, Stephen Michael Kirkland! Holla back at ya boy one time!!</p>
                        </div>
                    </div>
                </li>

                <li id="sf-opportunity" class="col-md-3 col-sm-6 col-lg-3">
                    <div class="sf-wrap">
                        <div class="sf-mdl-left">
                            <div class="sf-icon">
                                <i class="fas fa-star-half-alt fa-5x"></i>
                            </div>
                            <h3>Source file included</h3>
                        </div>

                        <div class="sf-mdl-left-full">
                            <div class="sf-icon">
                                <i class="fas fa-star-half-alt fa-5x"></i>
                            </div>
                            <h3><a href="">Source file included</a></h3>
                            <p>Holla Back, Stephen Michael Kirkland! Holla back at ya boy one time!!</p>
                        </div>

                        <div class="sf-mdl-right-full">
                            <div class="sf-icon">
                                <i class="fas fa-star-half-alt fa-5x"></i>
                            </div>
                            <h3><a href="">Source file included</a></h3>
                            <p>Holla Back, Stephen Michael Kirkland! Holla back at ya boy one time!!</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </section>
</div>