$card-width: 200px;
$bio-card-height: $card-width*2.5;

.meet-the-team-box, .our-mission-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.meet-the-team-container, .our-mission-header-container {
  text-align: center;
  padding: 10rem 0;

  h1, h4{
    font-family: 'Bree Serif', serif;
    color: white;
    font-weight: 500;
  }

  h1{
    font-size: 100px;
  }

}

.our-mission-text-container{
  padding: 0 10rem 10rem 10rem;
  p{
    color: rgb(243, 255, 73);
  }
}

@media(max-width: 600px)
{
  .our-mission-text-container
  {
    padding: 0 3rem 10rem 3rem;
  }
}

*{  
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .box{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #060c21;
    transition: 0.5s;
  }

  .box:hover{
    height: 400px;
  }

  .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 3;
    background: black;
  }

  .box .imgBx img{
    max-width: 100%;
    opacity: 0.3;
    transition: 0.5s;
  }

  .box:hover .imgBx img {
    opacity: 1;
  }

  .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    // background: rgb(255, 255, 255);
    z-index: 1;
  }

  .box:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: 2;
    filter: blur(40px);
  }

  .box:before, .box:after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4)
  }

  .box:nth-child(2):before, .box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00)
  }

  .box:nth-child(3):before, .box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196F3)
  }

  .box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    z-index: 3;
  }

  .box:hover .content{
    opacity: 1;
  }

  .box .content h2{
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .box .content h2 span{
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
  }

  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            align-items: center;
  }
  
  .col{
    width: calc(25% - 2rem);
    // margin: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  
  .container{
      position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;

    width: $card-width;
    z-index: 1;
  }

  .bio-container{
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;

              width: $card-width*2;
              height: $bio-card-height;
    z-index: 1;
  }
  
  .front,
  .back,
  .bio-front,
  .bio-back{
    background-size: cover;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #fff;
      font-size: 1.3rem;
  }
  
  .back{
    background: -webkit-linear-gradient(135deg, #3c0596 0%, #5822ad 25%, #2c2c2c 50%, #6d6d6d 75%, rgb(197, 197, 197) 100%);
    background: -o-linear-gradient(135deg, #3c0596 0%, #5822ad 25%, #2c2c2c 50%, #6d6d6d 75%, rgb(197, 197, 197) 100%);
    background: linear-gradient(135deg, #3c0596 0%, #5822ad 25%, #2c2c2c 50%, #6d6d6d 75%, rgb(197, 197, 197) 100%);
  }
  
  .front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }

  .bio-back:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: 0.6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}

  .container:hover .front,
  .container:hover .back,
  .bio-container:hover .bio-front,
  .bio-container:hover .bio-back
  {
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .black{
    background-color: black;
    z-index: -10;
  }

  .black-top{
    background: linear-gradient(black, #010615);
    padding-bottom: 5rem;
  }

  .black-bottom{
    background: linear-gradient(#010615, black);
  }

  .back, .bio-back{
      position: absolute;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
      justify-content: center;
  }
  
  .container .back, .bio-container .bio-back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front, .bio-container .bio-front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back, .bio-container:hover .bio-back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front, .bio-container:hover .bio-front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    margin-bottom: 2rem;
    position: relative;
  }

  .card-title{
    font-size: 23px;
  }

  .card-info{
    font-size: 12px;
  }

  .card-items{
    font-size: 15px;
  }

  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }

  .col .container, .col .bio-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .bio-front{
    background-image: url('../../../assets/images/people/KingKirk.png');
    height: $bio-card-height;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bio-back{
    background-image: url('../../../assets/images/people/KingKirk.png');
    height: $bio-card-height;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
  }

  .video-game{
    background-image: url(https://store-images.s-microsoft.com/image/apps.58231.65463610408817762.16ac64e5-a1b8-49fa-87ad-cbc5902fcb27.b9524e52-fe80-4e00-9b0a-66275fe9ed5a?w=180&h=270&q=60);
    background-size: $card-width;
    background-repeat: no-repeat;
  }

  .movie{
    background-image: url(https://resizing.flixster.com/m1KEoItg4izd4iJTrXjQQCr3aCc=/206x305/v1.bTsxMTE2OTg3NjtqOzE4NDQ0OzEyMDA7ODAwOzEyMDA);
    background-size: $card-width;
    background-repeat: no-repeat;
  }

  .book{
    background-image: url("src/assets/images/about/think_and_grow_rich.jpg");
    background-size: $card-width;
    background-repeat: no-repeat;
  }
  
  .highlight{
      position: absolute;
      background-color: skyblue;
      width: 100%;
      height: 15px;
      margin-top: 9px;
      margin-left: -32px;
      opacity: 35%;
  }

  .kirk-image{
    width: 100%;
    height: 100%;
  }

  .team-about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
  }

  .think-card{
    margin: 1rem;
  }

  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }