<div class="page-margin">
    <h1>INTO THE MIND AND WORLD OF STEPHEN MICHAEL KIRKLAND!</h1>

    <h3>i really am making my own websites now....tee-hee!</h3>

    {{statement()}}

    <br>
    <br>
    <div class="row">
        <div class="left-story">
            <span class="left-story">{{story()}}</span>
            <br><br>
            <h2>Hobbies</h2>
            <span class="left-story">{{hobbies()}}</span>
            <br><br>
            <h2>Favorite Video Games</h2>
            <ul>
                <li>
                    BioShock Collection
                </li>
                <li>The Outer Worlds</li>
                <li>Brawlhalla</li>
                <li>Call of Duty: Black Ops (this is why I bought a PS3 back in 2011)</li>
                <li>The Far Cry Series</li>
                <li>Minecraft</li>
            </ul>
            <br>
            <h2>Favorite Movies</h2>
            <ul>
                <li>Whitie Chicks</li>
                <li>Boomerang</li>
                <li>Norbit</li>
                <li>Inception</li>
                <li>Batman: The Dark Knight</li>
                <li>The Truman Show</li>
                <li>Moana</li>
                <li>Frozen 2</li>
                <li>Lion King</li>
            </ul>
            <br>
            <h2>Must Reads</h2>
            <ul>
                <li>The Bible (although I have yet to read it all the way through)</li>
                <li>The 7 Habits of Highly Effective People</li>
                <li>Think and Grow Rich</li>
            </ul>
        </div>

        <span class="right-img">
            <img [src]="kingUrl" alt="">
        </span>
    </div>

    <!-- Additional -->
    
    <div class="wrapper">
        <h1>Parallax Flipping Cards</h1>
        <div class="cols">
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                              <div class="inner">
                                  <p>Diligord</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="url(https://unsplash.it/511/511/)">
                              <div class="inner">
                                  <p>Rocogged</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
                              <div class="inner">
                                  <p>Strizzes</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
                              <div class="inner">
                                  <p>Clossyo</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/504/504/">
                              <div class="inner">
                                  <p>Rendann</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
                              <div class="inner">
                                  <p>Reflupper</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
                              <div class="inner">
                                  <p>Acirassi</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                      <div class="container">
                          <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
                              <div class="inner">
                                  <p>Sohanidd</p>
                    <span>Lorem ipsum</span>
                              </div>
                          </div>
                          <div class="back">
                              <div class="inner">
                                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
       </div>

</div>