<div class="page-margin center-text">
    <div class="logo-height">
        <img alt="Best Buddies Logo" class="whole-height" src="assets/images/best-buddies/best-buddies-logo-clipart.png">
        <img alt="chalk-fonts" class="whole-height" src="https://fontmeme.com/permalink/191117/2dddcecb9c4fe32a92c04ceee41ba3d1.png" border="0">
    </div>
    <br>
    <img alt="Best Buddies - Mrs. Anne, Max, and Myself" class="annemaxme" src="assets/images/best-buddies/mrs-anne-max-me.jpg" >
    <br><br>
    {{about()}}
</div>