<div class="body">
<div class="page-margin screven-forward-page-container">
    <div class="container logo-container">
        <h1>Screven Forward</h1>
    </div>
    <div class="contianer welcome-container">
        <div class="row">
            <div class="col-md-6 welcome-message">
                <p class="my-mission-title">My Mission</p>
                <hr>
                <p>{{my_mission()}}</p>
            </div>
            <div class="col-md-6 screven-plaza-image">
                <img [src]="screvenPlaza" alt="Screven Plaza Image">
            </div>
        </div>
    </div>
</div>
</div>