::before {
    content: '';
}

::after {
    content: '';
}

section {
    position: relative;
    background: green;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: red;
}

#corona{
    border-radius: 30px;
    width: 475px;
    height: 400px;
}