@import "../../../../src/assets/animate.scss/animate.scss";

@function calc-em($target-px, $context) {
    @return ($target-px / $context) * 1em;
}

.buttons{
    button{
        margin-left: 30px;

        &:first-child{
            margin: 0px;
        }
    }
}

.header2{
    color: white;
    border: 5px solid gold;
}

.ke_logo{
    width: 100%;
    background-color: black;
}

.row{
    h1{
        @include tada();
    }
    text-align: center;
}

.welcome{
    text-align: center;
}

@media(max-width: 700px){
    .welcome-logo{
        width: 500px;
        height: 200px;
    }
}