<div class="page-margin">
        <div class="hey">
            <!-- <h1>Welcome to</h1> -->
            <img src="https://fontmeme.com/permalink/191007/2ac185608541058593593bb536036fe6.png" alt="Welcome to">
        </div>
        <br>
    <div class="row">
        <div class="col-2"></div>
        <div [@divState]="state" class="col-8">
                <img src="{{logoUrl}}" alt="Kirkland Enterprises Logo" class="ke_logo">
            <!-- (@divState.start)="animationStarted($event)" (@divState.done)="animationEnded($event)"  class="styledimg"> -->
        </div>
        <div class="col-2"></div>
    </div>
    <br>
    <div class="row">
        <div [@wildState]="wildState" class="header2 col-8">
                <img src="{{king}}" alt="King Kirk">
            <h2>Where we make sites!</h2>
        </div>
    </div>
    <br><br><br><br>
    <div [@list1]="list1" (click)="onDelete()" style="color: blue">
        <h3>And love people!</h3>
    </div>
    <br><br><br><br>

    <div class="buttons">
        <button class="btn btn-primary" (click)="onAnimate()">Animate!</button>
        <button class="btn btn-primary" (click)="onShrink()">Shrink!</button>
        <button class="btn btn-primary" (click)="onDelete()">Slide Out!</button>
    </div>
    <p>If you click on me, I will disappear.</p>
</div>