::before {
    content: '';
}

body {
    position: relative;
}

section.inspired-section:before {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    height: 100vh;
    width: 50%;
}

.logo {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 25%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 100%;
}

.inspired-text-container {
    position: absolute;
    top: 0;
    left: 50%;
}