@import "../../../../src/assets/animate.scss/animate.scss";

@function calc-em($target-px, $context) {
    @return ($target-px / $context) * 1em;
}

.header2{
    color: white;
    border: 5px solid gold;
}

.ke_logo{
    width: 100%;
    background-color: black;
}

.row{
    text-align: center;
    margin: 0px;
}

.welcome{
    text-align: center;
}

.welcome-logo{
  animation: tada 2s 5;
}

// @media(max-width: 700px){
//     .welcome-logo{
//         width: 500px;
//         height: 200px;
//     }
// }