<div class="page-margin">
    <div class="container tishas-cupcakes-logo-container">
        <div class="tishas-cupcakes-logo-header col-md-12">
            <img class="tishas-cupcakes-logo"
                src="https://fontmeme.com/permalink/191013/2e11998328aa5ba099c2be391717b659.png" alt="janji-font">
        </div>
    </div>
    <hr>
    <div class="body">
        <div class="row">
            <div class="col-lg-6">
                <img alt="Cake Designs" class="full-width" src="assets/images/lalas-cupcakes/cake-designs.jpg">
                <img src="assets/images/lalas-cupcakes/cupcake-desings.jpg" class="full-width" alt="Cupcake Designs">
            </div>
            <div class="col-lg-6">
                <p class="cake-designs">{{cakedesigns()}}</p>
                <img alt="Iced Pretzels" src="assets/images/lalas-cupcakes/iced-pretzels.jpg" class="full-width"
                    id="iced-pretzel-img">
                <img alt="Ninja Batman" src="assets/images/lalas-cupcakes/batman-ninja.jpg" class="full-width">
            </div>
        </div>
    </div>

</div>