<div class="page-margin">
        <div class="center-text header">
            <img src="https://fontmeme.com/permalink/191013/2e11998328aa5ba099c2be391717b659.png" alt="janji-font"
                border="0">
        </div>
        <hr>
        <div class="body">
            <div class="row">
                <img alt="Stone Lounge" class="left-half" src="assets/images/interior-design/stone-lounge.jpg">
                <p class="right-half">{{aboutEJ()}}</p>
            </div>
        </div>
    
    </div>