.cake-designs{
    padding-top: 30px;;
    font-size: 30px;
    padding-right: 50px;
}

.right-half{
    padding-left: 40px;
}

.tishas-cupcakes-logo-container{
    background-color: pink;
    display: flex;
    justify-content: center;
}

.tishas-cupcakes-logo-header{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
    box-sizing: border-box;
}

#iced-pretzel-img{
    margin-top: 30px;
}