<div class="bunniebody">
    <div class="page-margin">
        <div class="row top-padding">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-text">
                    <img alt="Kaka" class="rounded-circle kaka-image" src={{kaka}}  hspace="25">
                <img alt="Bunnie Beaute Logo"
                    src="https://fontmeme.com/permalink/191201/5e01694fd8afe64905e561939492b24f.png">
            </div>
        </div>
        <hr>
        <div class="row top-padding">
            <div class="col-lg-6">
                <img alt="Kaka Style1" class="style-image" src='assets/images/bunnie-beaute/style1.jpg'>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</div>