.bunniebody{
    height: 100%;
    width: 100%;
    background-color: purple;
    margin-top: -50px;
}

.kaka-image{
    height: 100px;
    width: 100px;
}

.style-image{
    height: 300px;
    width: 300px;
}