<div id="progressbar"></div>
<div class="page-margin">
    <div class="row">
        <!-- Book Dropdown selectable -->
        <div class="row-container col-12">
            <div class="form-group col-md-4 col-xs-6">
                <div class="cell-center">
                    <label for="bible-book">Book</label>
                </div>
                <select class="form-control" id="bible-book" (change)="chapterChange()" [(ngModel)]="selectedBook">
                    <option *ngFor="let book of bibleBooks" [ngValue]="book">
                        {{book.name}}
                    </option>
                </select>
            </div>

            <!-- Chapter Dropdown selectable -->
            <div class="form-group col-md-4 col-xs-6">
                <div class="cell-center">
                    <label for="bible-chapter">Chapter</label>
                </div>
                <select class="form-control" id="bible-chapter" [(ngModel)]="selectedChapter" (change)="getChapter()" [disabled]="!selectedBook">
                    <option *ngFor="let chapter of chapters" [ngValue]="chapter">{{chapter.number}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Bible welcome text -->
    <div class="row" *ngIf="!selectedChapter">
        <div class="bible-welcome-text-container col-12">
            <h3 class="bible-welcome-text col-md-8 col-xs-12">
                Welcome to the Bible App! Please begin by selecting a Book, then the Chapter
            </h3>
        </div>
    </div>

    <!-- Scripture Book and Chapter Header -->
    <div class="row">
        <div class="book-chapter-container col-12" *ngIf="selectedBook && selectedChapter">
            <div class="col-md-8 col-xs-12">
                <h1 class="book-chapter-text">{{selectedBook.name}} {{selectedChapter.number}}</h1>
            </div>
        </div>
    </div>

    <!-- display of the Scripture -->
    <div class="row">
        <div class="selection-holder col-12">
            <div class="selection col-md-8 col-xs-10" [innerHtml]="selection">
            </div>
        </div>
    </div>
</div>