<div class="page-margin">
    <div class="row">
        <!-- Book Dropdown selectable -->
        <div class="row-container col-12">
            <div class="form-group col-4">
                <div class="cell-center">
                    <label for="bible-book">Book</label>
                </div>
                <select class="form-control" id="bible-book" (change)="chapterChange()" [(ngModel)]="selectedBook">
                    <option *ngFor="let book of bibleBooks" [ngValue]="book">
                        {{book.name}}
                    </option>
                </select>
            </div>

            <!-- Chapter Dropdown selectable -->
            <!-- TO-DO: disabled until Book is selected -->
            <div class="form-group col-4">
                <div class="cell-center">
                    <label for="bible-chapter">Chapter</label>
                </div>
                <select class="form-control" id="bible-chapter" [(ngModel)]="selectedChapter" (change)="getChapter()">
                    <option *ngFor="let chapter of chapters" [ngValue]="chapter">{{chapter.number}}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- display of the Scripture -->
    <div class="book-chapter-container" *ngIf="selectedBook && selectedChapter">
        <div class="col-8">
            <h1 class="book-chapter-text">{{selectedBook.name}} {{selectedChapter.number}}</h1>
        </div>
    </div>
    <div class="selection-holder">
        <div class="selection col-8" [innerHtml]="selection">
        </div>
    </div>
</div>