<form class="new-journal-entry-form" [formGroup]="newJournalEntryForm" novalidate (ngSubmit)="onSubmit(newJournalEntryForm.value)">
     <!-- Title -->
     <div class="form-group">
          <mat-form-field class="input-style title-font">
               <input matInput placeholder="Enter title here" class="form-control" formControlName="title" required>
          </mat-form-field>
          <ng-container *ngFor="let validation of validation_messages.title">
               <mat-error *ngIf="newJournalEntryForm.get('title').hasError(validation.type) && (newJournalEntryForm.get('title').dirty || newJournalEntryForm.get('title').touched)">{{validation.message}}</mat-error>
          </ng-container>
     </div>

<!-- Write here -->
     <div>
          <p>Write here what you want to say:</p>
          <textarea class="form-control" name="journalentryfield" id="journalentryfield" cols="30" rows="5"></textarea>
          <br>
          <div class="right-side">
          <button class="btn btn-success" type="submit" (click)="onSubmit(newJournalEntryForm.value)">Submit</button>
          </div>
     </div>
</form>