<form class="new-journal-entry-form" [formGroup]="newJournalEntryForm" novalidate (ngSubmit)="onSubmit(newJournalEntryForm.value)">
     <!-- Title -->
     <h5>Title:</h5>
     <textarea class="form-control" name="journalentrytitle" id="journalentrytitle" cols="30" rows="1"></textarea>

     <br>

<!-- Write here -->
     <div>
          <p>Write here what you want to say:</p>
          <textarea class="form-control" name="journalentryfield" id="journalentryfield" cols="30" rows="5"></textarea>
          <br>
          <div class="right-side">
          <button class="btn btn-success">Submit</button>
          </div>
     </div>
</form>