@import "~ngx-smart-modal/ngx-smart-modal";
@import "app/app.component";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.border-test{
    border-style: solid;
}

.card{
    
}

.card-title{
    font-weight: bold;
}

.cell-center{
    vertical-align: center;
    text-align: center;
}

.center-text, .text-center{
    text-align: center;
}

.delay-6s{
    animation-delay: 6s;
}

.full-width{
    width: 100%;
}

.grow:hover{
    transform: scale(1.1);
}

.left-half{
    width: 50%;
}

.loading-spinner{
    text-align: center
}

.page-margin{
    margin: 50px;
}

.right-half{
    width: 50%;
}

.right-img{
    width: 50%;
    text-align: center;
}

.right-side{
    display: flex;
    justify-content: flex-end;
}

.top-padding{
    padding-top: 50px;
}

.top-padding-50px{
    margin-top: 50px;
}

// fonts

// fonts - cursive - primarily for the Journal page
.classique-saigon{
    font-family: clas;
}

.cookie-font{
    font-family: 'Cookie', cursive;
    font-size: 25px;
}

.great-vibes-font{
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

.pacifico-font{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.sacramento-font{
    font-family: 'Sacramento', cursive;
    font-size: 25px;
}

.satisfy-font{
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.whole-height{
    height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html{
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    ::-webkit-scrollbar
    {
      width: 0 !important;
      display: none;
    }
  }

  #progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    border-radius: 10px;
    background: linear-gradient(to top, #fcb045, #fd1d1d, #1e95c4, #833ab4);
  }

  @font-face{
    font-family: controlFont;
    src: url(assets/fonts/itc-avant-garde-gothic-lt-bold.ttf);
  }

  @font-face{
    font-family: journalFont;
    src: url(assets/fonts/Journal/journal.ttf);
  }