html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.border-test{
    border-style: solid;
}

.cell-center{
    vertical-align: center;
    text-align: center;
}

.center-text{
    text-align: center;
}

.full-width{
    width: 100%;
}

.left-half{
    width: 50%;
}

.loading-spinner{
    text-align: center
}

.page-margin{
    margin: 50px;
}

.right-half{
    width: 50%;
}

.right-img{
    width: 50%;
    text-align: center;
}

.top-padding-50px{
    margin-top: 50px;
}