<div class="top-half">
    <div class="page-margin">
        <div class="row top-padding">
            <div class="col-lg-4">
                <img src={{moneySmiley}} alt="Money Smiley GIF">
            </div>
            <div class="col-lg-8">
                <p class="center-text cookie-font welcome-font">
                    Welcome To Kirkland Loan!
                </p>
                <div class="div"></div>
                <p class="white-font">Where all of your financial needs are met! ;)</p>
            </div>
        </div>
    </div>
</div>
<div class="second-half"></div>